openapi: 3.2.0
info:
  title: Cloro Dev Monitor API
  version: 1.0.0
  contact:
    name: cloro support
    email: support@cloro.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://cloro.dev/terms/
  description: 'Operations tagged Monitor across 2 of this provider''s published API definitions: cloro-dev-openapi.json, cloro-dev-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cloro.dev
  description: Production server
security:
- bearerAuth: []
tags:
- name: Monitor
paths:
  /v1/monitor/chatgpt:
    post:
      summary: Monitor ChatGPT Responses
      description: Extract structured data from ChatGPT — answer text, cited sources, shopping cards, brand entities, and ads — for any prompt across supported regions
      operationId: monitorChatgpt
      requestBody:
        description: Request parameters for monitoring ChatGPT responses
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGPTMonitorRequest'
        required: true
      responses:
        '200':
          description: successful ChatGPT monitoring response
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 3
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 7
            X-Credits-Remaining:
              description: Number of credits remaining in user account
              schema:
                type: integer
                example: 4
            X-Credits-Charged:
              description: Number of credits charged for this request
              schema:
                type: integer
                example: 1
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGPTMonitorResponse'
        '400':
          description: Bad Request - Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized - Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '403':
          description: Forbidden - Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '429':
          description: Too Many Requests
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 11
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 0
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrentLimitError'
        '499':
          description: Client Closed Request - Request was canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanceledError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
      - Monitor
    servers:
    - url: https://api.cloro.dev
      description: Production server
  /v1/monitor/gemini:
    post:
      summary: Monitor Gemini Responses
      description: Extract structured data from Google Gemini — generated answer text and cited sources for any prompt, with Markdown and HTML export formats
      operationId: monitorGemini
      requestBody:
        description: Request parameters for monitoring Gemini responses
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeminiMonitorRequest'
        required: true
      responses:
        '200':
          description: successful Gemini monitoring response
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 3
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 7
            X-Credits-Remaining:
              description: Number of credits remaining in user account
              schema:
                type: integer
                example: 4
            X-Credits-Charged:
              description: Number of credits charged for this request
              schema:
                type: integer
                example: 1
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeminiMonitorResponse'
        '400':
          description: Bad Request - Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized - Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '403':
          description: Forbidden - Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '429':
          description: Too Many Requests
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 11
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 0
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrentLimitError'
        '499':
          description: Client Closed Request - Request was canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanceledError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
      - Monitor
    servers:
    - url: https://api.cloro.dev
      description: Production server
  /v1/monitor/grok:
    post:
      summary: Monitor Grok Responses
      description: Extract structured data from Grok — answer text and cited sources, including X/Twitter references — for any prompt across supported regions
      operationId: monitorGrok
      requestBody:
        description: Request parameters for monitoring Grok responses
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrokMonitorRequest'
        required: true
      responses:
        '200':
          description: successful Grok monitoring response
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 3
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 7
            X-Credits-Remaining:
              description: Number of credits remaining in user account
              schema:
                type: integer
                example: 4
            X-Credits-Charged:
              description: Number of credits charged for this request
              schema:
                type: integer
                example: 3
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrokMonitorResponse'
        '400':
          description: Bad Request - Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized - Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '403':
          description: Forbidden - Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '429':
          description: Too Many Requests
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 11
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 0
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrentLimitError'
        '499':
          description: Client Closed Request - Request was canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanceledError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
      - Monitor
    servers:
    - url: https://api.cloro.dev
      description: Production server
  /v1/monitor/google:
    post:
      summary: Monitor Google Search Results
      description: Extract structured data from Google Search including organic results, People Also Ask, related searches, and optional AI Overview
      operationId: monitorGoogle
      requestBody:
        description: Request parameters for monitoring Google search results
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleMonitorRequest'
        required: true
      responses:
        '200':
          description: successful Google monitoring response
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 3
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 7
            X-Credits-Remaining:
              description: Number of credits remaining in user account
              schema:
                type: integer
                example: 997
            X-Credits-Charged:
              description: Number of credits charged for this request
              schema:
                type: integer
                example: 3
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleMonitorResponse'
        '400':
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '403':
          description: Forbidden - Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '429':
          description: Too Many Requests
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 11
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 0
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrentLimitError'
        '499':
          description: Client Closed Request - Request was canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanceledError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
      - Monitor
    servers:
    - url: https://api.cloro.dev
      description: Production server
  /v1/monitor/google/goto:
    post:
      summary: Resolve a Google redirect link
      description: 'Resolve one Google redirect link to its destination URL. Send the `redirectLink` that ships beside every resolved link on a Google Search, Google News, or AI Mode response, and the response gives you the URL it points to.


        Charges no credits, does not use a concurrency slot, and counts against the per-second rate limit like any other call. Each request resolves one link, and Google gets at most 10 seconds to answer.'
      operationId: resolveGoogleGoto
      requestBody:
        description: The Google redirect link to resolve
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleGotoRequest'
        required: true
      responses:
        '200':
          description: The destination the redirect link points to
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleGotoResponse'
        '400':
          description: Bad Request - The url is missing, malformed, or is not a google.com /goto or /url link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '429':
          description: Too Many Requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
        '502':
          description: Bad Gateway - Google did not answer with a redirect, or the request to Google failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalServiceError'
      tags:
      - Monitor
    servers:
    - url: https://api.cloro.dev
      description: Production server
  /v1/monitor/google/news:
    post:
      summary: Monitor Google News Results
      description: Extract structured news articles from Google News including titles, links, snippets, sources, dates, and thumbnails
      operationId: monitorGoogleNews
      requestBody:
        description: Request parameters for monitoring Google News results
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleNewsMonitorRequest'
        required: true
      responses:
        '200':
          description: successful Google News monitoring response
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 3
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 7
            X-Credits-Remaining:
              description: Number of credits remaining in user account
              schema:
                type: integer
                example: 997
            X-Credits-Charged:
              description: Number of credits charged for this request
              schema:
                type: integer
                example: 3
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleNewsMonitorResponse'
        '400':
          description: Bad Request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '403':
          description: Forbidden - Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '429':
          description: Too Many Requests
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 11
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 0
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrentLimitError'
        '499':
          description: Client Closed Request - Request was canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanceledError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
      - Monitor
    servers:
    - url: https://api.cloro.dev
      description: Production server
  /v1/monitor/copilot:
    post:
      summary: Monitor Copilot Responses
      description: Extract structured data from Microsoft Copilot about your brand, products, or any topic across various regions
      operationId: monitorCopilot
      requestBody:
        description: Request parameters for monitoring Copilot responses
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopilotMonitorRequest'
        required: true
      responses:
        '200':
          description: successful Copilot monitoring response
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 3
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 7
            X-Credits-Remaining:
              description: Number of credits remaining in user account
              schema:
                type: integer
                example: 4
            X-Credits-Charged:
              description: Number of credits charged for this request
              schema:
                type: integer
                example: 5
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopilotMonitorResponse'
        '400':
          description: Bad Request - Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized - Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '403':
          description: Forbidden - Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '429':
          description: Too Many Requests
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 11
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 0
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrentLimitError'
        '499':
          description: Client Closed Request - Request was canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanceledError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
      - Monitor
    servers:
    - url: https://api.cloro.dev
      description: Production server
  /v1/monitor/perplexity:
    post:
      summary: Monitor Perplexity Responses
      description: Extract structured data from Perplexity AI about your brand, products, or any topic across various regions
      operationId: monitorPerplexity
      requestBody:
        description: Request parameters for monitoring Perplexity responses
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerplexityMonitorRequest'
        required: true
      responses:
        '200':
          description: successful Perplexity monitoring response
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 3
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 7
            X-Credits-Remaining:
              description: Number of credits remaining in user account
              schema:
                type: integer
                example: 4
            X-Credits-Charged:
              description: Number of credits charged for this request
              schema:
                type: integer
                example: 5
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerplexityMonitorResponse'
        '400':
          description: Bad Request - Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized - Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '403':
          description: Forbidden - Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '429':
          description: Too Many Requests
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 11
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 0
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrentLimitError'
        '499':
          description: Client Closed Request - Request was canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanceledError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
      - Monitor
    servers:
    - url: https://api.cloro.dev
      description: Production server
  /v1/monitor/aimode:
    post:
      summary: Monitor AI Mode Responses
      description: Extract structured data from AI Mode about your brand, products, or any topic across various regions
      operationId: monitorAiMode
      requestBody:
        description: Request parameters for monitoring AI Mode responses
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiModeMonitorRequest'
        required: true
      responses:
        '200':
          description: successful AI Mode monitoring response
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 3
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 7
            X-Credits-Remaining:
              description: Number of credits remaining in user account
              schema:
                type: integer
                example: 4
            X-Credits-Charged:
              description: Number of credits charged for this request
              schema:
                type: integer
                example: 5
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiModeMonitorResponse'
        '400':
          description: Bad Request - Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized - Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '403':
          description: Forbidden - Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '429':
          description: Too Many Requests
          headers:
            X-Concurrency-Limit:
              description: Maximum number of concurrent requests allowed
              schema:
                type: integer
                example: 10
            X-Concurrency-Current:
              description: Current number of concurrent requests
              schema:
                type: integer
                example: 11
            X-Concurrency-Remaining:
              description: Number of remaining concurrent slots available
              schema:
                type: integer
                example: 0
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-Request-ID:
              $ref: '#/components/headers/XRequestId'
            X-Latency-Ms:
              $ref: '#/components/headers/XLatencyMs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrentLimitError'
        '499':
          description: Client Closed Request - Request was canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanceledError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
      - Monitor
    servers:
    - url: https://api.cloro.dev
      description: Production server
components:
  schemas:
    CopilotMonitorResponse:
      required:
      - success
      - result
      type: object
      properties:
        success:
          type: boolean
          example: true
        result:
          description: Copilot response data
          type: object
          properties:
            text:
              type: string
              description: Copilot's response text
              example: As an AI assistant, I can help you find great laptops for programming...
            html:
              type: string
              format: uri
              description: A URL to the full HTML of the response.
              example: https://cdn.cloro.dev/results/c45a5081-808d-4ed3-9c86-e4baf16c8ab8/page-1.html
            sources:
              type: array
              description: Array of sources referenced in the response
              items:
                type: object
                properties:
                  position:
                    type: number
                    description: The position index of the source in the response
                    example: 1
                  url:
                    type: string
                    description: The URL of the source
                    example: https://example.com/article
                  label:
                    type: string
                    description: The display label for the source
                    example: Microsoft Docs
                  description:
                    type: string
                    description: A description of the source content
                    example: Development hardware recommendations
              example:
              - position: 1
                url: https://docs.microsoft.com/
                label: Microsoft Docs
                description: Official development documentation
            citationPills:
              type: array
              description: 'Inline citation pills extracted from the Copilot answer. Each entry is one (pill, source) pair: when a pill cites N sources (consecutive citation events grouped into a single chip), the array contains N entries sharing the same `citationPillId` but carrying per-source `label`, `url`, and `domain`. Group by `citationPillId` to recover the pill-level structure. Omitted from `result` when the answer carries no pills.'
              items:
                type: object
                required:
                - label
                - citationPillId
                - url
                - domain
                - position
                properties:
                  label:
                    type: string
                    description: Per-source title from the citation event (e.g. `"Microsoft 365 Documentation"`, `"Productivity Best Practices"`). Always present; may be an empty string when the event ships no title — read `domain` / `url` for source identity in that case. Entries grouped under the same `citationPillId` carry different per-source labels.
                    example: Microsoft 365 Documentation
                  citationPillId:
                    type: integer
                    description: 1-based ordinal shared by all entries from the same chip. Group by `citationPillId` to reconstruct the visible chip; the per-source `label` differs across entries within a chip.
                    example: 1
                  url:
                    type: string
                    description: Direct URL of the cited source.
                    example: https://docs.microsoft.com/
                  domain:
                    type: string
                    description: Host extracted from `url`, for grouping and display.
                    example: docs.microsoft.com
                  description:
                    type: string
                    description: Source description from the sources rail when Copilot ships one. Omitted when absent.
                    example: Official development documentation
                  position:
                    type: integer
                    description: 1-based position of this source in the sibling `result.sources` array.
                    example: 1
              example:
              - label: Microsoft 365 Documentation
                citationPillId: 1
                url: https://docs.microsoft.com/
                domain: docs.microsoft.com
                description: Official development documentation
                position: 1
              - label: VS Code on GitHub
                citationPillId: 1
                url: https://github.com/microsoft/vscode
                domain: github.com
                description: Visual Studio Code repository
                position: 2
            shoppingCards:
              type: array
              description: Array of shopping/product cards extracted from the response (when available)
              items:
                type: object
                properties:
                  type:
                    type: string
                    description: Shopping card type
                    example: shoppingProducts
                  layout:
                    type: string
                    description: Layout style for the shopping card
                    example: Carousel
                  products:
                    type: array
                    description: Array of product information
                    items:
                      type: object
                      properties:
                        product:
                          type: object
                          description: Product identifier information
                          properties:
                            id:
                              type: string
                              description: Unique product ID
                            groupId:
                              type: string
                              description: Product group ID
                            brandGroupId:
                              type: string
                              description: Brand group ID (optional)
                        position:
                          type: integer
                          description: 1-indexed rank across all products in all shopping cards in the response (flat, not reset per card).
                          example: 1
                        offerId:
                          type: string
                          description: Unique offer identifier
                        url:
                          type: string
                          description: Product page URL
                        name:
                          type: string
                          description: Product name
                        description:
                          type: string
                          description: Product description
                        images:
                          type: array
                          description: Product images with titles and URLs
                          items:
                            type: object
                            properties:
                              title:
                                type: string
                                description: Image title
                              url:
                                type: string
                                description: Image URL
                        specifications:
                          type: array
                          description: Product specifications (e.g., Color, Size)
                          items:
                            type: object
                            properties:
                              displayName:
                                type: string
                                description: Specification name
                              values:
                                type: array
                                description: Available values
                                items:
                                  type: string
                        tags:
                          type: array
                          description: Product tags
                          items:
                            type: string
                        price:
                          type: object
                          description: Product pricing information
                          properties:
                            amount:
                              type: number
                              description: Price amount
                            currency:
                              type: string
                              description: Currency code (optional)
                            currencySymbol:
                              type: string
                              description: Currency symbol
                        discountPrice:
                          type:
                          - object
                          - 'null'
                          description: Discount price, same shape as `price`. May be null or absent.
                          properties:
                            amount:
                              type: number
                              description: Price amount
                            currency:
                              type: string
                              description: Currency code (optional)
                            currencySymbol:
                              type: string
                              description: Currency symbol
                        seller:
                          type: string
                          description: Seller name
                        sellerLogoUrl:
                          type: string
                          description: Seller logo URL
                        brandName:
                          type: string
                          description: Product brand name
                        rating:
                          type: object
                          description: Product rating information
                          properties:
                            value:
                              type: number
                              description: Rating value
                            count:
                              type: integer
                              description: Number of ratings
                            maxRating:
                              type:
                              - number
                              - 'null'
                              description: Maximum rating scale. May be null or absent.
                        canTrackPrice:
                          type: boolean
                          description: Whether price tracking is available
            map:
              type: array
              description: Array of business/place map entries extracted from the response (when available)
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Business name
                    example: WonderWorks Pigeon Forge
                  position:
                    type: integer
                    description: Position in results (1-indexed)
                    example: 1
                  placeId:
                    type: string
                    description: Google Place ID
                    example: ChIJEYpTsk__W4gR2sQLGzOjE3o
                  location:
                    type: object
                    description: Business location
                    properties:
                      address:
                        type: string
                        description: Full street address
                        example: 100 Music Rd, Pigeon Forge, TN 37863
                      latitude:
                        type: number
                        description: GPS latitude
                        example: 35.823257
                      longitude:
                        type: number
                        description: GPS longitude
                        example: -83.5787498
                  phoneNumber:
                    type: string
                    description: Contact phone number
                    example: (865) 868-1800
                  url:
                    type: string
                    format: uri
                    description: Business website URL
                    example: http://www.wonderworksonline.com/pigeon-forge/
                  reviews:
                    type: array
                    description: Review aggregations from providers
                    items:
                      type: object
                      properties:
                        count:
                          type: integer
                          description: Number of reviews
                          example: 10625
                        rating:
                          type: number
                          description: Average rating
                          example: 4.3
                        providerName:
                          type: string
                          description: Review provider name
                          example: Google
                        providerIconUrl:
                          type: string
                          description: Provider icon URL
                        url:
                          type: string
                          format: uri
                          description: Reviews page URL
                          example: https://maps.google.com/?cid=8796553937077126362
                  photos:
                    type: array
                    description: Business photos
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          format: uri
                          description: Photo URL
                        altText:
                          type: string
                          description: Alt text for the photo
                        providerName:
                          type: string
                          description: Photo provider name
                        providerUrl:
                          type: string
                          format: uri
                          description: Photo provider URL
                  openState:
                    type: string
                    description: Current open/closed status
                    example: Open · Closes 9 PM
                  category:
                    type: string
                    description: Business category
                    example: Amusement park
                  price:
                    description: Price level (if available)
                  layerLabel:
                    type: string
                    description: Map layer grouping label
                    example: Theme Parks
                example:
                  name: WonderWorks Pigeon Forge
                  position: 1
                  placeId: ChIJEYpTsk__W4gR2sQLGzOjE3o
                  location:
                    address: 100 Music Rd, Pigeon Forge, TN 37863
                    latitude: 35.823257
                    longitude: -83.5787498
                  phoneNumber: (865) 868-1800
                  url: http://www.wonderworksonline.com/pigeon-forge/
                  reviews:
                  - count: 10625
                    rating: 4.3
                    providerName: Google
                    providerIconUrl: null
                    url: https://maps.google.com/?cid=8796553937077126362
                  photos:
                  - url: https://lh3.googleusercontent.com/gps-cs-s/example
                    altText: null
                    providerName: null
                    providerUrl: https://maps.google.com
                  openState: Open · Closes 9 PM
                  category: Amusement park
                  price: null
                  layerLabel: Theme Parks
            searchQueries:
              type: array
              description: Array of query fan-out — the web search queries Copilot ran while generating the response. Automatically included when at least one is available, no surcharge.
              items:
                type: string
              example:
              - best laptops for programming 2025
              - developer laptop reviews
            markdown:
              type: string
              description: Copilot's response formatted in Markdown (included when include.markdown is true)
              example: As an AI assistant, I can help you find great laptops for programming...
            rawResponse:
              type: array
              description: Raw upstream provider stream captured during the request. Each item is one chunk from the provider's wire protocol (SSE event, batchexecute frame, etc.). Format is provider-specific, undocumented, and may change without notice — use it for debugging or to access data not yet surfaced in the structured fields above.
              items: {}
    ProductResult:
      type: object
      description: One product cluster and its merchant offers. Only `title` is guaranteed; anything Google's panel lacks is omitted, never sent as `null`.
      required:
      - title
      properties:
        title:
          type: string
          description: Product cluster title, as Google displayed it. Empty when the page has no product heading.
          example: Apple iPhone 17
        stores:
          type: array
          description: Merchant offers. Always present on Google Search entries; omitted on AI Mode when Google lists none.
          items:
            type: object
            required:
            - name
            properties:
              name:
                type: string
                description: Merchant name
                example: Apple
              link:
                type: string
                format: uri
                description: Merchant product URL, passed through from Google verbatim
                example: https://www.apple.com/shop/buy-iphone/iphone-17
              redirectLink:
                type: string
                description: Google's `/goto` redirect for this link, in the absolute form `POST /v1/monitor/google/goto` accepts. Present only when Google served the link as a redirect — the sibling link field holds the destination cloro resolved it to.
                example: https://www.google.com/goto?url=CAESaAHrOzAVev0pi_wnTxm1qpiZTmMyAllabLr1or10ZCfvJKPk
              price:
                type: object
                description: Offer price. Omitted when the displayed text can't be parsed.
                required:
                - value
                - currency
                properties:
                  value:
                    type: number
                    description: Parsed numeric price. On installment offers, the monthly payment.
                    example: 799
                  currency:
                    type: string
                    description: ISO 4217 code, or the displayed token when it maps to none
                    example: USD
                  raw:
                    type: string
                    description: Visible price text verbatim
                    example: $799.00
              installments:
                type: string
                description: Installment terms as displayed
              description:
                type: string
                description: Merchant's listing title, naming the exact SKU sold
                example: iPhone 17 256GB White - Apple
              buyingOptions:
                type: array
                description: Merchant badges in display order, such as stock status, delivery promise and returns window
                items:
                  type: string
              logo:
                type: string
                format: uri
                description: Merchant logo URL
              shipping:
                type: string
                description: Shipping cost or promise as displayed
              condition:
                type: string
                description: Item condition
                example: New
              rating:
                type: number
                description: Merchant rating
              reviews:
                type: string
                description: Merchant review count, abbreviated
                example: 2.3k
        aboutTheProduct:
          type: object
          description: Google's description of the product
          properties:
            description:
              type: string
              description: Prose blurb
            features:
              type: array
              description: Feature bullets, when shown
              items:
                type: string
        specifications:
          type: object
          description: 'Spec tables: each category name maps to key/value pairs. Category names and keys arrive in the response language.'
          additionalProperties:
            type: object
            additionalProperties:
              type: string
          example:
            general:
              Brand: Apple
              Storage: 256 GB
        images:
          type: array
          items:
            type: object
            required:
            - mainUrl
            properties:
              mainUrl:
                type: string
                format: uri
              thumbnailUrl:
                type: string
                format: uri
              title:
                type: string
        rating:
          type: number
          description: Product rating
        reviews:
          type: string
          description: Product review count
        variants:
          type: array
          description: Product variants Google offers
          items:
            type: object
        userReviews:
          type: array
          description: User reviews
          items:
            type: object
        relatedProducts:
          type: array
          description: Related products
          items:
            type: object
    PlaceItem:
      type: object
      description: General place or location information
      properties:
        name:
          type: string
          description: Place name
          example: Floresta Das Escadinhas
        url:
          type: string
          description: Place page URL
          example: https://www.tripadvisor.com/Restaurant_Review-g189158-d1520116-Reviews-Floresta_Das_Escadinhas-Lisbon_District_Central_Portugal.html
        rating:
          type: number
          description: Place rating (0-5)
          example: 4.8
        address:
          type: array
          description: Address lines
          items:
            type: string
          example:
          - Rua de Santa Justa N°3, Lisbon 1100-483 Portugal
        lat:
          type: number
          description: Latitude
          example: 38.712717
        lng:
          type: number
          description: Longitude
          example: -9.136362
        categories:
          type: array
          description: Place categories
          items:
            type: string
          example:
          - Healthy
          - Grill
          - Barbecue
          - Mediterranean
          - Portuguese
          - European
        map_url:
          type: string
          description: Map URL
          example: https://google.com/maps/?q=find+best+hotels+and+restaurants+in+lisbon&ll=38.720914,-9.147162&z=15
        images:
          type: array
          description: Place image URLs
          items:
            type: string
    ChatGPTMonitorRequest:
      required:
      - prompt
      - country
      type: object
      properties:
        prompt:
          description: The prompt to send to ChatGPT
          type: string
          minLength: 1
          maxLength: 10000
          example: What do you know about Acme Corp?
        country:
          $ref: '#/components/schemas/CountryCode'
          description: Country/region code for localized response, using ISO 3166-1 alpha-2 country codes.
        include:
          description: Optional flags for including additional response formats
          type: object
          default:
            html: false
            markdown: false
            rawResponse: false
            searchQueries: false
            ads: false
            shopping: false
          properties:
            html:
              description: Include a URL to the full HTML of the response
              type: boolean
              default: false
              example: true
            markdown:
              description: Include markdown-formatted response in the result
              type: boolean
              default: false
              example: true
            rawResponse:
              description: 'Include ChatGPT''s raw response payload. Paid add-on: one flat +2 credits covers any combination of `rawResponse`, `searchQueries`, `ads` and `shopping` ([pricing](/guides/providers#chatgpt-additional-features)).'
              type: boolean
              default: false
              example: true
            searchQueries:
              description: 'Include the query fan-out ChatGPT used to generate the response. Paid add-on: one flat +2 credits covers any combination of `rawResponse`, `searchQueries`, `ads` and `shopping` ([pricing](/guides/providers#chatgpt-additional-features)).'
              type: boolean
              default: false
              example: true
            ads:
              description: 'Include ads displayed in ChatGPT response. Paid add-on: one flat +2 credits covers any combination of `rawResponse`, `searchQueries`, `ads` and `shopping` ([pricing](/guides/providers#chatgpt-additional-features)).'
              type: boolean
              default: false
              example: true
            shopping:
              description: 'Include shopping cards and inline products with pricing and offers. Paid add-on: one flat +2 credits covers any combination of `rawResponse`, `searchQueries`, `ads` and `shopping` ([pricing](/guides/providers#chatgpt-additional-features)).'
              type: boolean
              default: false
              example: true
          required: []
          example:
            html: true
            markdown: true
            rawResponse: true
            searchQueries: true
            ads: true
            shopping: true
          additionalProperties: false
        legacy:
          description: 'Serve ChatGPT''s legacy desktop interface instead of the default mobile-web one. The legacy interface streams the answer as an event stream, so `result.model`, `result.searchQueries` and `result.mapSearchQueries` are populated. Best-effort and temporary: OpenAI controls which interface it serves and can retire the legacy one at any time, so a request can still come back in the mobile-web shape. Handle both. Defaults to false.'
          type: boolean
          default: false
          example: true
        disableWebSearch:
          description: 'Do not force ChatGPT''s web search. cloro returns the answer ChatGPT gives on its own, which uses web search only when ChatGPT decides to, so `result.sources`, `result.citationPills` and `result.searchQueries` are often empty. Defaults to false: web search is forced on every request.'
          type: boolean
          default: false
          example: true
        state:
          $ref: '#/components/schemas/StateParameter'
      additionalProperties: false
    HlParameter:
      description: Interface language, as Google's own `hl` parameter (e.g. `en`, `de`, `pt-BR`). Free-form and case-insensitive — Google owns the list of codes. Overrides the language cloro derives from the country, so the interface language and the result geography can differ.
      type: string
      example: en
    MediaItem:
      type: object
      description: Media content (video or image) found in response
      properties:
        title:
          type: string
          description: Media title
          example: Best hotels in Lisbon, reviewed | The Independent
        url:
          type: string
          description: Media URL
          example: https://www.independent.co.uk/travel/europe/portugal/lisbon/best-lisbon-portugal-hotels-b1987832.html
        thumbnail:
          type: string
          description: Thumbnail URL
          example: https://d2u1z1lopyfwlx.cloudfront.net/thumbnails/636fbd12-6dee-5f44-a76d-fe7f9cd20e40/75ce41cb-6767-5082-a330-ee97c5866886.jpg
        medium:
          type: string
          description: Media type as Perplexity labels it, for example `video` or `image`
          example: image
        source:
          type: string
          description: Source platform
          example: web
        image_width:
          type: number
          description: Original image width
          example: 5600
        image_height:
          type: number
          description: Original image height
          example: 3733
        thumbnail_width:
          type: number
          description: Thumbnail width
          example: 300
        thumbnail_height:
          type: number
          description: Thumbnail height
          example: 200
    GrokMonitorRequest:
      required:
      - prompt
      - country
      type: object
      properties:
        prompt:
          description: The prompt to send to Grok
          type: string
          minLength: 1
          maxLength: 10000
          example: What are the best laptops for programming?
        country:
          $ref: '#/components/schemas/CountryCode'
          description: Country/region code for localized response, using ISO 3166-1 alpha-2 country codes.
        include:
          description: Optional flags for including additional response formats
          type: object
          properties:
            markdown:
              description: Include markdown-formatted response in the result
              type: boolean
              default: false
              example: true
            html:
              description: Include HTML-formatted response in the result
              type: boolean
              default: false
              example: true
            rawResponse:
              description: Include raw streaming response events
              type: boolean
              default: false
              example: true
          default:
            markdown: false
            html: false
            rawResponse: false
          additionalProperties: false
        state:
          $ref: '#/components/schemas/StateParameter'
      additionalProperties: false
    GlParameter:
      description: Alternative to `country`, using Google's own parameter name for the result geography. Same ISO 3166-1 alpha-2 codes, accepted in either case (`us` or `US`), and must be a country the endpoint supports — see `GET /v1/countries`. Provide `country` or `gl`; sending both with different values is a `400`.
      type: string
      example: us
    GoogleNewsMonitorRequest:
      required:
      - query
      type: object
      properties:
        query:
          description: The search query to execute on Google News
          type: string
          minLength: 1
          maxLength: 10000
          example: climate change
        country:
          $ref: '#/components/schemas/CountryCode'
          description: ISO 3166-1 alpha-2 country code for localized news results. See [List of countries](/api-reference/endpoint/countries) for the codes each provider supports.
        gl:
          $ref: '#/components/schemas/GlParameter'
        hl:
          $ref: '#/components/schemas/HlParameter'
        device:
          description: Device the search is run from. 'desktop' returns the desktop news SERP; 'ios' (Safari on iPhone), 'android' (Chrome on Android) and 'mobile' (alias for 'android') all return the mobile news SERP.
          type: string
          enum:
          - desktop
          - mobile
          - ios
          - android
          default: desktop
          example: desktop
        pages:
          description: 'Number of news results pages to scrape (1-10). Paid add-on: +2 credits per page after the first ([pricing](/guides/providers#google-search-multi-page-pricing)).'
          type: integer
          minimum: 1
          maximum: 10
          default: 1
          example: 1
        include:
          description: Optional flags for including additional response data
          type: object
          properties:
            html:
              description: Include raw HTML response from Google News
              type: boolean
              default: false
              example: false
          default:
            html: false
          additionalProperties: false
      additionalProperties: false
      anyOf:
      - required:
        - country
      - required:
        - gl
    RateLimitError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: RATE_LIMIT_EXCEEDED
            message:
              type: string
              example: API key rate limit exceeded
            timestamp:
              type: string
              format: date-time
              example: '2025-01-15T12:00:00.000Z'
    ExternalServiceError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: EXTERNAL_SERVICE_ERROR
            message:
              type: string
              example: goto resolve request failed
            details:
              type: object
              properties:
                service:
                  type: string
                  example: google
            timestamp:
              type: string
              format: date-time
              example: '2025-01-15T12:00:00.000Z'
    GeminiMonitorRequest:
      required:
      - prompt
      - country
      type: object
      properties:
        prompt:
          description: The prompt to send to Gemini
          type: string
          minLength: 1
          maxLength: 10000
          example: Explain quantum computing
        country:
          $ref: '#/components/schemas/CountryCode'
          description: Country/region code for localized response, using ISO 3166-1 alpha-2 country codes.
        include:
          description: Optional flags for including additional response formats
          type: object
          default:
            markdown: false
            html: false
            rawResponse: false
          properties:
            markdown:
              description: Include markdown-formatted response in the result
              type: boolean
              default: false
              example: true
            html:
              description: Include HTML-formatted response in the result
              type: boolean
              default: false
              example: true
            rawResponse:
              description: Include raw streaming response events
              type: boolean
              default: false
              example: true
          required: []
          example:
            markdown: true
            html: false
            rawResponse: false
          additionalProperties: false
        state:
          $ref: '#/components/schemas/StateParameter'
      additionalProperties: false
    PerplexityMonitorRequest:
      required:
      - prompt
      - country
      type: object
      properties:
        prompt:
          description: The prompt to send to Perplexity
          type: string
          minLength: 1
          maxLength: 10000
          example: What are the best laptops for programming?
        country:
          $ref: '#/components/schemas/CountryCode'
          description: Country/region code for localized response, using ISO 3166-1 alpha-2 country codes.
        include:
          description: Optional flags for including additional response formats
          type: object
          properties:
            html:
              description: Include a URL to the full HTML of the response
              type: boolean
              default: false
              example: true
            markdown:
              description: Include markdown-formatted response in the result
              type: boolean
              default: false
              example: true
            rawResponse:
              description: Include raw streaming response events
              type: boolean
              default: false
              example: true
          default:
            html: false
            markdown: false
            rawResponse: false
          additionalProperties: false
        state:
          $ref: '#/components/schemas/StateParameter'
      additionalProperties: false
    GrokMonitorResponse:
      required:
      - success
      - result
      type: object
      properties:
        success:
          type: boolean
          example: true
        result:
          description: Grok response data
          type: object
          properties:
            text:
              type: string
              description: Grok's response text
              example: Based on current information and real-time web search, here are excellent laptop options for programming...
            html:
              type: string
              format: uri
              description: A URL to the full HTML of the response.
              example: https://cdn.cloro.dev/results/c45a5081-808d-4ed3-9c86-e4baf16c8ab8/page-1.html
            sources:
              type: array
              description: Array of sources referenced in the response with enhanced metadata
              items:
                type: object
                properties:
                  position:
                    type: number
                    description: The position index of the source in the response
                    example: 1
                  url:
                    type: string
                    description: The URL of the source
                    example: https://example.com/article
                  label:
                    type: string
                    description: The display label for the source
                    example: Tech Source
                  description:
                    type: string
                    description: A description of the source content
                    example: In-depth laptop guide for developers
                  preview:
                    type: string
                    description: Preview text snippet from the source
                    example: When choosing a laptop for programming, consider RAM, processor, storage...
                  searchEngineText:
                    type: string
                    description: Search engine display text
                    example: Best Programming Laptops 2025
                  siteName:
                    type: string
                    description: Website name
                    example: Tech Reviews
                  metadataTitle:
                    type: string
                    description: Source metadata title
                    example: Complete Guide to Development Laptops
                  creator:
                    type: string
                    description: Content creator/author
                    example: John Doe
                  image:
                    type: string
                    format: uri
                    description: Source image URL
                    example: https://example.com/preview.jpg
                  favicon:
                    type: string
                    format: uri
                    description: Website favicon URL
                    example: https://example.com/favicon.ico
              example:
              - position: 1
                url: https://techcrunch.com/programming-laptops
                label: TechCrunch
                description: Best laptops for coding and development
                preview: When looking for a programming laptop, prioritize RAM and processor power...
                searchEngineText: Top Development Laptops 2025
                siteName: TechCrunch
                metadataTitle: Ultimate Guide to Programming Laptops
                creator: Tech Team
                image: https://techcrunch.com/preview.jpg
                favicon: https://techcrunch.com/favicon.ico
            searchQueries:
              type: array
              items:
                type: string
              description: Array of search queries Grok used to gather information for the response
              example:
              - best laptops for programming 2026
              - top developer laptops 2026
            model:
              type: string
              nullable: true
              description: The model identifier used to generate the response
              example: grok-4-auto
            markdown:
              type: string
              description: Grok's response formatted in Markdown (included when include.markdown is true)
              example: Based on current information and real-time web search, here are excellent laptop options for programming...
            rawResponse:
              type: array
              description: Raw upstream provider stream captured during the request. Each item is one chunk from the provider's wire protocol (SSE event, batchexecute frame, etc.). Format is provider-specific, undocumented, and may change without notice — use it for debugging or to access data not yet surfaced in the structured fields above.
              items: {}
    GoogleMonitorRequest:
      anyOf:
      - required:
        - query
        - country
      - required:
        - query
        - gl
      - required:
        - url
      type: object
      properties:
        query:
          description: The search query to execute on Google. Required unless you supply 'url' instead — the two are mutually exclusive.
          type: string
          minLength: 1
          maxLength: 10000
          example: best laptops for programming
        url:
          description: A complete Google web search URL to run instead of building the request from 'query' and the targeting fields. Must be an absolute http(s) URL on a Google web search host (google.com, google.co.uk, www.google.de, ...), with the path '/search' and a non-empty 'q'. Mutually exclusive with 'query', 'location', 'uule' and 'pages' — the URL owns those values. cloro applies a fixed set of query parameters — 'q', 'gl', 'hl', 'uule', 'num' (read as result depth), 'start', 'tbs' and 'safe' — and drops anything else. URLs carrying 'tbm' are rejected, because they target a Google vertical with its own endpoint and pricing (use POST /v1/monitor/google/news for tbm=nws).
          type: string
          format: uri
          example: https://www.google.com/search?q=best+laptops+for+programming&hl=en&gl=us&num=30
        country:
          $ref: '#/components/schemas/CountryCode'
          description: ISO 3166-1 alpha-2 country code for localized search results. See [List of countries](/api-reference/endpoint/countries) for the codes each provider supports. Required in the standard request shape unless you send `gl`. When you supply 'url' instead, country is derived from the URL's 'gl' — pass it explicitly to override that, or when the URL has no 'gl'.
        gl:
          $ref: '#/components/schemas/GlParameter'
        hl:
          $ref: '#/components/schemas/HlParameter'
        location:
          description: 'Google canonical location name for geo-targeted results, in comma-separated format: ''City,Region,Country'' (see https://developers.google.com/google-ads/api/reference/data/geotargets for all ~100,000 supported locations). Use alongside ''country'' for city-level precision. Mutually exclusive with ''uule'' — provide one or the other, not both. Cannot be combined with ''url''. When both `location` and `uule` are omitted, cloro pins results to the country''s canonical location (e.g. `Portugal` for `PT`) where it has one; otherwise Google geolocates from the proxy''s exit IP.'
          type: string
          example: New York,New York,United States
        uule:
          description: Pre-encoded Google UULE string for precise geo-targeting. Use this when you have a pre-built UULE value instead of a location name. Mutually exclusive with 'location' — provide one or the other, not both. Cannot be combined with 'url'; put 'uule' in the URL's query string instead.
          type: string
          example: w+CAIQICIeV2VzdCBOZXcgWW9yayxOZXcgSmVyc2V5
        device:
          description: Device the search is run from. 'desktop' returns the desktop SERP; 'ios' (Safari on iPhone), 'android' (Chrome on Android) and 'mobile' (alias for 'android') all return the mobile SERP.
          type: string
          enum:
          - desktop
          - mobile
          - ios
          - android
          default: desktop
          example: desktop
        pages:
          description: 'Number of search results pages to scrape (1-10). Paid add-on: +2 credits per page after the first ([pricing](/guides/providers#google-search-multi-page-pricing)). Cannot be combined with ''url'' — in that shape, depth comes from the URL''s ''num'' (rounded up to whole pages of 10, capped at 10 pages).'
          type: integer
          minimum: 1
          maximum: 10
          default: 1
          example: 3
        include:
          description: Optional flags for including additional response data
          type: object
          properties:
            html:
              description: Include raw HTML response from Google search
              type: boolean
              default: false
              example: false
            aioverview:
              description: 'Include Google AI Overview in the response. Paid add-on: one flat +2 credits covers `aioverview` and `paaAioverview`, alone or together ([pricing](/guides/providers#google-search-multi-page-pricing)).'
              type: object
              properties:
                markdown:
                  description: Include AI Overview formatted as markdown
                  type: boolean
                  default: false
                  example: true
              default:
                markdown: false
              additionalProperties: false
            paaAioverview:
              description: 'Hydrate AI-Overview-type People Also Ask items with markdown content and sources. Paid add-on: one flat +2 credits covers `aioverview` and `paaAioverview`, alone or together ([pricing](/guides/providers#google-search-multi-page-pricing)). Each hydrated item adds one scraper fetch (typically 1-2 per page), so responses take longer.'
              type: boolean
              default: false
              example: true
            googleGoto:
              description: Ignored since 8th September 2026. Every redirect link now ships as `redirectLink` beside its destination, so both are returned without this flag. Requests still sending it behave as if it were absent.
              type: boolean
              default: false
              example: true
              deprecated: true
          default:
            html: false
          additionalProperties: false
      additionalProperties: false
    ChatGPTMonitorResponse:
      required:
      - success
      - result
      type: object
      properties:
        success:
          type: boolean
          example: true
        result:
          description: ChatGPT's response data
          type: object
          properties:
            text:
              type: string
              description: ChatGPT's response text
              example: 'The name "Acme Corporation" is used in various contexts, both fictional and real. Here''s an overview:


                🐾 Acme Corporation in Fiction

                The Acme Corporation is a fictional company featured prominently in Warner Bros. cartoons, particularly the Road Runner/Wile E. Coyote series.'
            sources:
              type: array
              description: Array of sources referenced in the response. Returns empty array when no sources are available.
              items:
                type: object
                properties:
                  position:
                    type: number
                    description: The position index of the source in the response
                    example: 1
                  url:
                    type: string
                    description: The URL of the source
                    example: https://www.rippling.com/blog/ai-recruiting?utm_source=chatgpt.com
                  label:
                    type: string
                    description: The article title of the source
                    example: 12 Best AI Recruiting Tools For HR in 2025
                  description:
                    type: string
                    description: A snippet or summary of the source content
                    example: Discover the top AI recruiting tools that can help HR professionals streamline their hiring process...
                  footnote:
                    type: boolean
                    description: Whether this source appears as a footnote (in a subsequent list in the sources modal)
                    example: false
                  datePublished:
                    type: string
                    description: The publication date of the source. Omitted from the response when the source has no publish date — never emitted as `null`.
                    example: May 22, 2025
              example:
              - position: 1
                url: https://www.rippling.com/blog/ai-recruiting?utm_source=chatgpt.com
                label: 12 Best AI Recruiting Tools For HR in 2025
                description: Discover the top AI recruiting tools that can help HR professionals streamline their hiring process...
                footnote: false
                datePublished: May 22, 2025
              - position: 2
                url: https://www.index.dev/blog/ai-recruiting-software-hiring-managers?utm_source=chatgpt.com
                label: 7 Best AI Recruiting Software for Hiring Managers in 2025
                description: A comprehensive guide to the best AI recruiting software options available for hiring managers...
                footnote: false
                datePublished: April 10, 2025
              - position: 3
                url: https://www.selectsoftwarereviews.com/buyer-guide/ai-recruiting?utm_source=chatgpt.com
                label: '10+ Best AI Recruiting Software for 2025: Expert Reviews + Pricing'
                description: Expert reviews and pricing information for the best AI recruiting software solutions...
                footnote: true
            html:
              type: string
              format: uri
              description: A URL to the full HTML of the response (included when include.html is true)
              example: https://cdn.cloro.dev/results/c45a5081-808d-4ed3-9c86-e4baf16c8ab8/page-1.html
            markdown:
              type: string
              description: ChatGPT's response formatted in Markdown (included when include.markdown is true)
              example: 'The name "Acme Corporation" is used in various contexts, both fictional and real. Here''s an overview:


                🐾 Acme Corporation in Fiction

                The Acme Corporation is a fictional company featured prominently in Warner Bros. cartoons, particularly the Road Runner/Wile E. Coyote series.'
            rawResponse:
              type: array
              description: Array of streaming events returned by ChatGPT (included when include.rawResponse is true). With `include.shopping` on as well, it includes the `product_update` events fetched for each inline product and shopping-card product.
              items:
                type: object
                properties:
                  type:
                    type: string
                    description: Event type identifier
                  token:
                    type: string
                    description: Resume token used to continue the ChatGPT conversation
                  conversation_id:
                    type: string
                    description: ChatGPT conversation identifier
                  message:
                    type: object
                    description: Event payload describing the assistant message
                    properties:
                      id:
                        type: string
                      role:
                        type: string
                      model:
                        type: string
                  delta:
                    type: object
                    description: Streaming delta payload from ChatGPT
                    properties:
                      content:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            text_delta:
                              type: string
                  reason:
                    type: string
                    description: Why ChatGPT stopped streaming
              example:
              - type: resume_conversation_token
                token: eyJhbGciOiJFUzI1Ni...WaVoqQ
                conversation_id: 68efc64b-2d74-8012-b87d-28e59f3b8a49
              - type: message_start
                message:
                  id: msg_01JD6Q7H1ZKWM9GD34V5ZW1TYM
                  role: assistant
                  model: gpt-5
              - type: message_delta
                delta:
                  content:
                  - type: output_text_delta
                    text_delta: The name "Acme Corporation" is used in various contexts...
              - type: message_stop
                reason: end_turn
            searchQueries:
              type: array
              description: Array of query fan-out ChatGPT used to generate the response (included when include.searchQueries is true)
              items:
                type: string
              example:
              - What is Acme Corporation?
              - Acme Corp company overview
              - Acme Corporation products and services
            mapSearchQueries:
              type: array
              description: Queries ChatGPT sent to its maps tool to build the `map` entries, deduplicated in first-seen order (included when include.searchQueries is true). Distinct from `searchQueries`, the web-search fan-out. Empty on responses served through OpenAI's mobile-web format; see `legacy`.
              items:
                type: string
              example:
              - coffee shops near Union Square San Francisco
            model:
              type: string
              nullable: true
              description: The ChatGPT model used to generate the response. Empty on responses served through OpenAI's mobile-web format.
              example: gpt-5-5
            shoppingCards:
              type: array
              description: Array of shopping/product cards extracted from the response. The field is omitted entirely from `result` when `include.shopping` is `false` or unset — clients should treat it as optional rather than expecting an empty array.
              items:
                type: object
                properties:
                  tags:
                    type: array
                    description: Category tags for the shopping card
                    items:
                      type: string
                    example:
                    - stylish casual leather sneaker
                    - heritage retro leather sneaker
                  products:
                    type: array
                    description: Array of product information
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          description: Product name
                          example: Adidas VL Court 3.0
                        position:
                          type: integer
                          description: 1-indexed rank across all products in all shopping cards in the response (flat, not reset per card).
                          example: 1
                        url:
                          type: string
                          description: Product page URL with ChatGPT attribution
                          example: https://www.adidas.com/us/vl-court-3.0-shoes/ID8797.html?utm_source=chatgpt.com
                        price:
                          type: string
                          description: Current price
                          example: $57.00
                        featured_tag:
                          type: string
                          description: Product category or style tag
                          example: stylish casual leather sneaker
                        merchant:
                          type: string
                          description: Merchant information
                          example: adidas + others
                        image_urls:
                          type: array
                          description: Array of product image URLs
                          items:
                            type: string
                          example:
                          - https://images.openai.com/static-rsc-1/example.jpg
                        rating:
                          type: number
                          description: Product rating (0-5 scale)
                          example: 4.7
                        num_reviews:
                          type: integer
                          description: Number of reviews
                          example: 10394
                        id:
                          type: string
                          description: Unique product identifier
                          example: '3250714974047560249'
                        offers:
                          type: array
                          description: Array of shopping offers from different merchants
                          items:
                            type: object
                            properties:
                              merchant_name:
                                type: string
                                description: Merchant name
                                example: adidas
                              marketplace_seller:
                                type:
                                - string
                                - 'null'
                                description: Third-party seller on the marketplace
                              seller_name:
                                type: string
                                description: Seller name
                              brand:
                                type:
                                - string
                                - 'null'
                                description: Product brand. Set on only some offers, so often `null` or absent.
                              product_name:
                                type: string
                                description: Product name as listed by merchant
                                example: Adidas Women's VL Court 3.0
                              url:
                                type: string
                                description: Offer URL with ChatGPT attribution
                                example: https://www.adidas.com/us/vl-court-3.0-shoes/ID8797.html?utm_source=chatgpt.com
                              price:
                                type: string
                                description: Offer price
                                example: $57.00
                              details:
                                type: string
                                description: Stock and delivery information
                                example: In stock online and nearby, Delivery between Sat - Mon $4.99
                              available:
                                type: boolean
                                description: Offer availability status
                                example: true
                              checkoutable:
                                type: boolean
                                description: Whether offer can be checked out directly
                                example: false
                              price_details:
                                type: object
                                description: Detailed price breakdown
                                properties:
                                  base:
                                    type: string
                                    description: Base product price
                                    example: $57.00
                                  total:
                                    type: string
                                    description: Total price including any additional costs
                                    example: $57.00
                              tag:
                                type: object
                                description: Promotional tag
                                properties:
                                  text:
                                    type: string
                                    description: Tag text
                                    example: Best price
                        rating_grouped_citation:
                          type: object
[...]
